.categoryList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 6px;
}