.category{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;

}

.categoryList{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 8px 0;
}