.category{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;

}

.categoryList{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px 0;
    font-weight: 600;
    font-size: calc(0.6em + 0.5vw);
}