body{
  position: absolute;
  display: flex;
  width: 100%;
  background-color: #eee7d7;
  overflow-x: hidden;
  background-image: url(http://www.transparenttextures.com/patterns/textured-paper.png);
}



.app{
  display: flex;
  width: 100vw;
  overflow: none;
  justify-content: center;
}